h1{font-style: italic;
    font-size: 75px;
    color: black;
display: flex;
justify-content:center;}
h2{font-style: italic;}
#Desc{
    font-size: 25px;
}
#Exp{
    font-size: 25px;
}
#Edu{
    font-size: 25px;
}
#Skill{font-size: 25px;}
#Hobby{ 
    font-size: 25px;
}
body{
    border: 3mm ridge rgba(24, 24, 22, 0.863);
padding: 100px;
background-color: bisque;}
#imDiv{display: flex;
justify-content: center;}
