h1{
    color:aliceblue;
    display: flex;
    justify-content: center;}
h3{
    color:aliceblue;
    display: flex;
    justify-content: center;}
h4{
    color:aliceblue;
    display: flex;
    justify-content: center;}

img{
    width: 400px;
    display: flex;
    justify-content: center;}


#ThirdDiv{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 500px;
    height: 600px;
    background-color: bisque;
    padding: 50px;
    border:25px solid aqua;
}
#spanId{
    color: aliceblue;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

}
body{ 
    background-image: url(https://s2.best-wallpaper.net/wallpaper/1920x1200/1503/Tropical-scenery-sea-beach-palm-trees-fish-sharks_1920x1200.jpg);
}
a{  font-size: 18px ;
    color: aliceblue;
    display: flex;
    justify-content: center;}
